version: "3.7"
services:
  mysql:
    container_name: mysql
    image: mysql/mysql-server:5.7
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=sesam
    volumes:
      - .config/mysql/config-file.cnf:/etc/my.cnf
      - .data:/var/lib/mysql