{% extends "sesam/base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}


{% block additional_css %}
  <link href="{% static 'sesam/css/quiz-pending.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <table class="table table-striped table-sm">
{% for form in forms %}
  {% if forloop.first %}
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 5%">#</th>
        <th scope="col" style="width: 10%">{% trans "tags"|title %}</th>
        <th scope="col" style="width: 30%">{{ form.description.label }}</th>
        <th scope="col" style="width: 10%">{{ form.answer_correct.label }}</th>
        <th scope="col" style="width: 10%">{{ form.answer_incorrect_1.label }}</th>
        <th scope="col" style="width: 10%">{{ form.answer_incorrect_2.label }}</th>
        <th scope="col" style="width: 15%">{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
  {% endif %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
          <div><span class="badge badge-pill badge-warning">{{ form.instance.category.name }}</span></div>
          <div><span class="badge badge-pill badge-dark">{{ form.instance.author.name }}</span></div>
          <div><span class="badge badge-pill badge-secondary">{{ form.instance.editor.name }}</span></div>
        </td>
        <td>{{ form.description.value }}</td>
        <td>{{ form.answer_correct.value }}</td>
        <td>{{ form.answer_incorrect_1.value }}</td>
        <td>{{ form.answer_incorrect_2.value }}</td>
        <td>
          <button class="btn btn-success" type="submit" name="accept" value="{{ form.instance.id }}"><i class="fas fa-check"></i></button>
          <button class="btn btn-danger" type="submit" name="reject" value="{{ form.instance.id }}"><i class="fas fa-times"></i></button>
          <a href="{% url "chief:quiz-question-edit" form.instance.id %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
        </td>
      </tr>
{% endfor %}
    </tbody>
  </table>
{% endblock %}